modules = ["nodejs-20", "java-graalvm22.3", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Smart_Spend_Frontend && PORT=5000 pnpm --filter @workspace/smartspend run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd smartspend && mvn spring-boot:run"
waitForPort = 8000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 8083
externalPort = 4200

[[ports]]
localPort = 8084
externalPort = 5173

[[ports]]
localPort = 24623
externalPort = 3000

[[ports]]
localPort = 24624
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd smartspend && mvn spring-boot:run & cd Smart_Spend_Frontend && PORT=5000 pnpm --filter @workspace/smartspend run dev"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000

[userenv]

[userenv.shared]
MYSQL_URL = "jdbc:mysql://mysql-2f284d93-kushv619-cf1e.a.aivencloud.com:23575/defaultdb?useSSL=true&requireSSL=true&verifyServerCertificate=false&allowPublicKeyRetrieval=true"
MYSQL_USER = "avnadmin"
DB_DRIVER = "com.mysql.cj.jdbc.Driver"
HIBERNATE_DIALECT = "org.hibernate.dialect.MySQLDialect"
MAIL_USERNAME = "kushv619@gmail.com"
JWT_SECRET = "404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970"
MAIL_PASSWORD = "mvespeaiwseozkye"
DB_PASSWORD = "AVNS_l_92RnqYsdMit1U9rxZ"
